{{ 'custom-text.css' | asset_url | stylesheet_tag }}
<div class="custom-text-section" style="color: {{ section.settings.text_color }}; background-color: {{ section.settings.background_color }}">>
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>

{% schema %}
{
  "name": "Text Box",
  "settings": [
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Title"
    },
    {
      "id": "custom_text_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>Add your text here</p>"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "custom-text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
